PORT=4000
NODE_ENV=production

# FamPay UPI VPA
FAMPAY_UPI_ID=shubh412@fam

# Gmail Account Receiving FamPay Alerts
GMAIL_USER=ragini.19854@gmail.com

# Google App Password (16 Characters from Google Account Security)
GMAIL_APP_PASSWORD=yhzlqqhtsxeaoztg
